* {
    margin: 0px;
    padding: 0px;
}

.register {
    text-align: center;
    /* position: relative;
    top: 4rem; */
    margin: 34px;
}

.bcolor1 {
    background-image: linear-gradient(to right, #ff832bd1, #ff416c);
}

.bcolor2 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pagecontainer {
    border: 4px solid white;
    margin: 4rem 14rem 2rem 17rem;
    height: 30rem;
    display: flex;
    border-radius: 25px;
}

.container-1 {
    border: 1px;
    border-radius: 8px;
    height: 83.5vh;
    width: 62vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all 1s ease-in;
    transform: rotate(360deg);
    transform: translate(100px); */
}

.container-2 {
    border: 2px;
    border-radius: 8px;
    width: 69vw;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.heading {
    color: white;
    margin-bottom: 17px;
    margin-left: 25px;
}

h1.form-heading {
    text-align: center;
}

p {
    text-align: center;
    margin: 13px 5px 15px 5px;
}

pre {
    color: white;
    margin: 5px 11px 0px 3px;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 15px;
    color: limegreen;
}

.none {
    display: none;
    transition: all 5s ease-in;
    transform: rotate(5deg);
    transform: translate(100%);
}

.social-plattforms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    height: 60px;
    width: 60px;
    cursor: pointer;
    margin: 6px;
}

input:focus {
    outline: none;
}

span {
    font-size: 18px;
    font-family: monospace;
    margin-left: 9px;
}

input[type="checkbox"] {
    height: 14px;
    width: 14px;
    margin: 4px 0px 15px 35px;
}

input[type="radio"] {
    margin: 13px;
}

input[type="submit"] {
    padding: 10px 36px 13px 32px;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    left: 56px;
    cursor: pointer;
}

#login,
#newac {
    margin-left: 32px;
    background-color: #ff0000d1;
    color: white;
}

#sign,
#signup {
    background-color: #f4ff4891;
    border: white;
    color: white;
    margin: 25px 0px 0px 5px;
}

input.signup:hover,
input.login:hover {
    transition: all 0s ease-in;
    transform: rotate(1deg);
    transform: translate(10% 10%);
    /* box-shadow: 2px 10px blue; */
}

input[type="password"],
input[type="text"],
input[type="email"] {
    display: block;
    margin: 25px;
    padding: 16px 32px 16px 19px;
    border-radius: 25px;
    border-color: rgb(245 194 183);
    border: none;
    border-bottom: 2px solid rebeccapurple;
}

input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus {
    transition: all 0.3s ease-in;
    border: 2px solid #03a9f48a;
    padding: 16px 62px 16px 19px;
}